body::-webkit-scrollbar {
  width:0.25rem; 
}
body::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}
body::-webkit-scrollbar-thumb{
  background: gray;
}
/*Mobile view, content/info margins*/
#containerMyInfo{
  text-align: center;
  margin: 0;
  }
/*Desktop view, content/info margins*/
@media(min-width: 768px){
  #containerMyInfo{
  text-align: left;
  margin-left: 25%;
  margin-right:20%;
  }
}
* {
  scrollbar-width: thin;
  font-family: 'Courier New', Courier, monospace;
  text-align: center; 
 }
*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 25px 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #1b1b1b;
  color: white;
}
h1 {
 font-size: 50px;
}
main {
    margin: 0;
}
@media(min-width: 768px){
    main {
        margin-left: 30%;
    }
}
@media(min-width: 768px){
    ul {
    border-width: 2px;
    border-left: solid;
    color: white;
    }
}
li {
  font-size: 25px;
  text-align: left;
  padding: 20px;
  list-style: none;
}