body::-webkit-scrollbar {
  width:0.25rem; 
}
body::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}
body::-webkit-scrollbar-thumb{
  background: gray;
}
/*Mobile view, content/info margins*/
#containerMyInfo{
  text-align: center;
  margin: 0;
  }
/*Desktop view, content/info margins*/
@media(min-width: 768px){
  #containerMyInfo{
  text-align: left;
  margin-left: 25%;
  margin-right:20%;
  }
}
* {
  scrollbar-width: thin;
  font-family: 'Courier New', Courier, monospace;
                                                             /* text-align: center; */
 }
*, *::before, *::after {
  box-sizing: inherit;
}
html {
 
  box-sizing: border-box;
}
body {
  margin: 25px 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #1b1b1b;
  color: white;
}
                                                                  #navName {
                                                                    /*nav pixelated name picture here*/
                                                                  }
#navbar {
  position: fixed;
  background-color: #1b1b1b;
  width: 100%;
  height: 80px;
  top: 0;
  display: grid;
  height: auto;/*watch this this has caused so much trouble */
  grid-area: 3 / 3 / 4 / 7;
  border-style: solid;
  color: white;
  }
/*Mobile View*/
  main {
  border: 4px solid white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 30px;
  margin-right: 30px;
  }
/*Desktop view*/
@media(min-width: 768px){
  main {
  border: 4px solid white;
  margin-left: 15%;
  margin-right: 15%;
  }
}
/*mobile view welcome*/
#welcome-section  {
  padding-top: 100px;
  text-align: center;
}
/*desktop view welcome*/
@media (min-width: 768px){ 
  #welcome-section{
  padding-top: 0px;
  height: 100vh;
  overflow: auto;
  }
}
/*Mobile view-profile picture section*/
#profile-pic-row {
  padding-top: 0px;
  }
  #profile-pic {
    width: 40%;
    height: 40%;
  border-radius: 50%;
  }
/*Desktop view-profile picture section 
  ---------------------------
  put both pic div "profile-pic-row
  and essentially the column "#profile-pic" 
  in the same media query*/
@media (min-width: 768px){ 
  #profile-pic-row {
  padding-top: 80px;
  }
  #profile-pic {
  width: 28%;
  height: 28%;
  border-radius: 50%;
  }
}
#media-platforms{
  margin-top: 50px;
  display: inline-flex;
}
i{
  display: block;
  text-align: center;
  font-size: 50px;
}
#welcome-name{
  font-size: 21px;
}
#topSkills {
  font-size: 28px;
}
.bottom-border{
border-width: 2px;
border-bottom: solid;
color: white;
padding-bottom: 8px;
}
a.body-links {
  /* text-align: left; */
  transform: none;
 }
ul {
    text-align: center;
}
@media (min-width: 768px){
    ul {
        text-align: right;/*possibly take out*/
    }
}
/*-----------------------------------------------------------------------ALL HOVER EFFECTS START HERE------------------------------------------------------------------------*/
/*-------------------hover 1 start*/
li.hover1 {
  display:inline-block;
  position: relative;
}
.hover1::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 69),rgb(98, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 1 end*/
/*-------------------hover 2 start*/
li.hover2 {
  display:inline-block;
  position: relative;
}
.hover2::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(98, 16, 250),rgb(39, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 2 end*/
/*-------------------hover 3 start*/
li.hover3 {
  display:inline-block;
  position: relative;
}
.hover3::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(39, 16, 250),rgb(216, 29, 160));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 3 end*/
/*-------------------hover 4 start*/
li.hover4 {
  display:inline-block;
  position: relative;
}
.hover4::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 160),rgb(216, 29, 69));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover4:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 4 end*/
/*-------------------hover 5 start*/
li.hover5 {
  display:inline-block;
  position: relative;
}
.hover5::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 69),rgb(98, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover5:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 5 end*/
/*-------------------hover 6 start*/
li.hover6 {
  display:inline-block;
  position: relative;
}
.hover6::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 160),rgb(39, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 5px;
}
.hover6:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 6 end*/
li {
  list-style: none;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  padding-top: 10px;
}
/*-----------------------------------------------------------------------ALL HOVER EFFECTS END HERE------------------------------------------------------------------------*/
/*Mobile FCC Certs text alignment*/
.link-background2{
  text-align: center;
}
/*Desktop FCC Certs text alignment*/
@media (min-width: 768px){
  .link-background2{
  text-align: left;
  }
}
/*Mobile nav links alignement*/
.link-background {
  text-align: center;
}
/*Desktop nav links alignment*/
@media (min-width: 800px){ 
.link-background {
  text-align: right;
  }
}
/*Mobile*/
.menu {
  display: inline-block;
    /*display: inline;*/
    position: relative;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color:transparent; 
    /*highlighting on nav-links*/
}
/*Desktop*/
@media (min-width: 800px){ 
    .menu { 
    display: inline;
    position: relative;
    padding: 0px;
    margin: 0px; 
    background-color: #3a383898;
    /*background inherted from mobile*/
    }
}









/*-----------------------------------------------Possibly get rid of this part or find a more inventive way to do it, like maybe your name pops up from the bottom of the nav where something 
says see more here or a more creative burger------------------------------------------------*/


a {
  display: block;/*controls the links place*/
  /* text-align: center; */
	box-sizing: border-box;
	color:white;
	text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 5px;
  margin: 2px;
  align-items: baseline;
}
/*Desktop nav list words*/
@media (min-width: 768px){ 
    a {
      transform: none;
      display: grid;
	    box-sizing: border-box;
      color:white;
      /* text-align: right; */
	    text-transform: uppercase;
	    text-decoration: none;
      font-size: 20px;
      padding: auto;
      margin-top: 0px;
}