*{
  /*font-family: 'Courier New', Courier, monospace;*/
}
html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  margin: 25px 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #1b1b1b;
  color: white;
}
*, *::before, *::after {
  box-sizing: inherit;
}




#navName {
  /*nav pixelated name picture here*/
}






#navbar {
  position: fixed;
  background-color: #1b1b1b;
  width: 100%;
  height: 80px;
  top: 0;
  display: grid;
  height: max-content;
  grid-area: 3 / 3 / 4 / 7;
  border-style: solid;
  color: white;
}
/*mobile view welcome*/
#welcome-section  {
  padding-top: 100px;
  text-align: center;
}
/*desktop view welcome*/
@media (min-width: 768px){ 
  #welcome-section{
  padding-top: 0px;
    height: 100vh;
    overflow: auto;
  }
}
/*Mobile view-profile picture section*/
#profile-pic-row {
  padding-top: 0px;
  }
  #profile-pic {
  width: 55%;
  height: 55%;
  border-radius: 50%;
  }
/*Desktop view-profile picture section 
  ---------------------------
  put both pic div "profile-pic-row
  and essentially the column "#profile-pic" 
  in the same media query*/
@media (min-width: 768px){ 
  #profile-pic-row {
  padding-top: 80px;
  }
  #profile-pic {
  width: 18%;
  height: 18%;
  border-radius: 50%;
  }
}
#media-platforms{
  font-size: 38px;
}
#welcome-name{
  font-size: 21px;
}
#whatIDo {
  font-size: 28px;
}































ul {
    text-align: center;
}
@media (min-width: 768px){
    ul {
        text-align: right;
    }
}
/*-------------------hover 1 start*/
li.hover1 {
  display:inline-block;
  position: relative;
}
.hover1::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 69),rgb(98, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 1 end*/
/*-------------------hover 2 start*/
li.hover2 {
  display:inline-block;
  position: relative;
}
.hover2::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(98, 16, 250),rgb(39, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 2 end*/
/*-------------------hover 3 start*/
li.hover3 {
  display:inline-block;
  position: relative;
}
.hover3::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(39, 16, 250),rgb(216, 29, 160));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 3 end*/
/*-------------------hover 4 start*/
li.hover4 {
  display:inline-block;
  position: relative;
}
.hover4::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 160),rgb(216, 29, 69));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover4:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 4 end*/
/*-------------------hover 5 start*/
li.hover5 {
  display:inline-block;
  position: relative;
}
.hover5::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 69),rgb(98, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 4px;
}
.hover5:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 5 end*/
/*-------------------hover 6 start*/
li.hover6 {
  display:inline-block;
  position: relative;
}
.hover6::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height:2px;
  bottom: 0;
  left: 0px;
  background-image: linear-gradient(to right,rgb(216, 29, 160),rgb(39, 16, 250));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  /*Below controls line thickness/position*/
  padding-bottom: 4px; 
  margin-bottom: 5px;
}
.hover6:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*----------------------hover 6 end*/
li {
  list-style: none;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
  padding-top: 10px;
}
/*Mobile nav links alignement*/
.link-background {
  text-align: left;
}
/*Desktop nav links alignment*/
@media (min-width: 800px){ 
.link-background {
  text-align: right;
  }
}
/*Mobile*/
.menu {
  display: inline-block;
    /*display: inline;*/
    position: relative;
    padding: 15px;
    margin: 10px ;
    background-color:transparent; 
    /*highlighting on nav-links*/
}
/*Desktop*/
@media (min-width: 800px){ 
    .menu { 
    display: inline;
    position: relative;
    padding: 0px;
    margin: 0px; 
    background-color: #3a383898;
    /*background inherted from mobile*/
    }
}
a.body-links{
  text-align: left;
  transform: none;
 }








/*-----------------------------------------------Possibly get rid of this part or find a more inventive way to do it, like maybe your name pops up from the bottom of the nav where something 
says see more here or a more creative burger------------------------------------------------*/

/*Mobile---this section holds text rotation*/
a {
  transform: rotate(-60deg);
      /*display: flex;---took out 7/11/2020 put back in if can't fix angled text*/
      float: right;
	box-sizing: border-box;
	color:white;
	text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 5px;
  margin: 2px;
      align-items: baseline;
}







/*Desktop nav list words*/
@media (min-width: 768px){ 
    a {
      transform: none;
      display: grid;
	    box-sizing: border-box;
      color:white;
      text-align: right;
	    text-transform: uppercase;
	    text-decoration: none;
      font-size: 20px;
      padding: auto;
      margin-top: 0px;
}